@media(max-width: 670px) {

  header, footer {
    img {
      height: 4.5em;
    }
  }
  p {
    text-align: left;
    font-size: 0.9em;
  }

  .top-wrapper {
    h1 {
      font-size: 2em;
    }
  }

  .main-wrapper {
    h2 {
      font-size: 2em;
    }
    h3 {
      font-size: 1.2em;
    }
    .tw-txt {
      text-align: center;
    }
  }

  .message-wrapper {
    p {
      text-align: center;
    }
  }

  .copyright {
    font-size: 0.1em;
  }

}
