@media(max-width: 670px) {
  @mixin topbottom {
    height: 50px;
    .logo {
      img {
        height: 0.1em;
      }
      p {
        font-size: 0.3em;
      }
    }
  }

  p {
    text-align: left;
    font-size: 0.9em;
  }

  .header-container {
    @include topbottom;
  }

  .top-wrapper {
    h1 {
      font-size: 2em;
    }
  }

  .main-wrapper {
    h2 {
      font-size: 2em;
    }
    h3 {
      font-size: 1.2em;
    }
    .tw-txt {
      text-align: center;
    }
  }

  .message-wrapper {
    p {
      text-align: center;
    }
  }

  .footer-container {
    @include topbottom;
    .copyright {
      font-size: 0.3em;
      margin-top: 1em;
    }
  }
}
