@import "variables";
@mixin topbottom {
  height: 100px;
  background-color: $pcl_color;
  //どこが親要素としてemが計算されてるのかが謎
  //100pxが親要素だと思っていたので0.9emが90pxになると思ったがどうやら違う
  .logo {
    img {
      height: 5em;
      margin-top: 1em;
      padding: 0.1em;
      float: left;
    }

    p {
      float: left;
      margin-top: 2.5em;
      font-size: 1.3em;
    }
  }
}

@mixin btn {
  display: inline-block;
  color: white;
  background-color: darken($pcl_color,10%);
  opacity: 0.7;
  padding: 1em 2.5em;
  border-radius: 0.8em;
  margin: 1.5em 0;

  &:hover {
    opacity: 1;
    font-size: 1.04em;
  }
}

@mixin sns($color){
  display: inline-block;
  background-color: $color;
  color: white;
  border-radius: 50%;
  padding: 7px 10px;

  &:hover {
    background-color: darken($color, 10%)
  }
}

@mixin container {
  margin: 5em auto;
  width: 80%;
  text-align: center;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 2em;
}

body {
  font-family: "arial unicode ms", "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

.bold {
  font-weight: bold;
  color: darken(pink, 20%);
}

.header-container {
  @include topbottom;
}

.top-wrapper {
  width: 100%;
  margin: 5em auto;
  text-align: center;

  h1 {
    font-size: 3em;
    margin-bottom: 0.8em;
  }
}

.main-wrapper {
  margin: 8em 0;
  padding: 0 2.5em;

  h2 {
    font-size: 3.5em;
    border-bottom: dashed 0.07em lighten($pcl_color, 20%);
    padding-bottom: 0.2em;

    &.align-right {
      text-align: right;
    }
  }

  .container {
    @include container;
  }

  h3 {
    font-size: 1.7em;
  }

  .btn {
    @include btn;
  }

  .twitter {
    @include sns($twitter);
  }
}

.message-wrapper {
  background-color: lighten(#666666, 5%);
  color: white;
  padding: 1em 0;

  .container {
    @include container;
  }

  .btn {
    @include btn;
  }

  .twitter {
    @include sns($twitter);
  }
}

.footer-container {
  @include topbottom;
  .copyright {
    float: right;
    margin-right: 0.5em;
    margin-top: 4em;
  }
}
